<%= form_for(@guille) do |f| %>
  <% if @guille.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guille.errors.count, "error") %> prohibited this guille from being saved:</h2>

      <ul>
      <% @guille.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :edad %><br />
    <%= f.text_field :edad %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
